{% include "users/base.html" %} 

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
              <a href="/judge" class="navbar-brand">CodeJudge-IIT Jodhpur</a>
            </div>    
        </div>
    </div>
    <br><br><br>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                  <li><a href="/judge/">Lab Sessions</a></li>
                  <li><a href="/judge/submission">My Submissions</a></li>
                  <li class="active"><a href="/judge/profile">Profile Settings</a></li>
                  <li><a href="/judge/logout">Logout</a></li>
                </ul>
            </div>
            {% for h in hacker %}
            <div class="col-md-2">
            {% if h.profileImage %}
            <img src="{{MEDIA_URL}}{{h.profileImage}}" height="15%" width="60%">
            {% else %}
            <img src="{{MEDIA_URL}}avatar/student.png" height="15%" width="60%">
            {% endif %}
            <br><br>
            <form action="/judge/changepic/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <p>
                    <input id="id_image" type="file" class="" name="image">
                </p>
                <input class="btn btn-primary" type="submit" value="Change Profile Picture" />
            </form>
            <form action="/judge/removepic/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Remove Profile Picture" />
            </form>
            </div>
            <div class="col-md-4">
                <p><b>Username: </b>{{h.username}}</p>
                <p><b>Email: </b>{{h.email}}</p>
            </div> 
            {% endfor %}
        </div>
    </div>